* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}
.registro{
    text-align: center;
    width: 400px;
    background: rgb(73, 15, 209);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    color: white;

}
.registro h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.input{
width: 100%;
background: rgba(22, 236, 255, 0.89);
padding: 10px;
margin-bottom: 10px;
border:1px solid white;
font-family: sans-serif;
font-size: 18px;
}
.input::placeholder{
Color:white
}
.registro #registrar{
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 10px;
}